.shop-cart-item {
    display: grid;
    grid-template-areas: "img, txt, prc";
    grid-template-columns: 100px 300px 50px;
    justify-content: space-around;
    border-top: 1px solid #999;
    padding: 10px 0;

    .cart-grid-item {
        @include centerflex;
    }

    .shop-cart-img {
        width: 80px;
        height: 80px;
        border-radius: 5px;

    }

    .shop-cart-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid $lightBlue;
        background-color: #eee;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
    }

}

.shop-cart-btn {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    max-height: 120px;

    &:hover {
        background-color: #CC4C4C;
        transition: 0.2s ease-in-out;
    }
}
.cart-warning {
    @include centerflex;
    margin-top: 3rem;
    a {
        padding: .5rem 1.5rem;
        font-weight: 800;
    }
}