.item-list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;

    .shop-item {
        justify-content: space-evenly;
        align-items: center;
        margin: 30px;
        background-color: #fff;
        border-radius: 5px;
        padding: 15px;
        width: 250px;
        height: 350px;

        .shop-item-title {
            display: flex;
            text-align: center;
            font-weight: bold;
            font-size: 1.5em;
            color: #333;
            margin-bottom: 15px;
        }

        .shop-item-image {
            height: 13rem;
            width: 13rem;
            border-radius: 10px;
        }

        .shop-item-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px;

            .shop-item-price {
                flex-grow: 1;
                color: #333;
            }

            .shop-item-btn {
                color: #000;
                background-color: #CCC;
                border-radius: 5px;
                padding: 4px 8px;

                &:hover {
                    background-color: $lightBlue;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}

.shop-cart-item {
    display: grid;
    grid-template-areas: "img, txt, prc, amm, btn";
    grid-template-columns: 100px 300px 50px 80px 100px;
    justify-content: space-between;
    border-top: 1px solid #999;
    padding: 10px 0;

    .cart-grid-item {
        @include centerflex;
    }

    .shop-cart-img {
        width: 80px;
        height: 80px;
        border-radius: 5px;

    }

    .shop-cart-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid $lightBlue;
        background-color: #eee;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;

    }

    .shop-cart-btn {
        color: white;
        background-color: #EB5757;
        border: none;
        border-radius: .3em;
        font-weight: bold;
        max-height: 120px;

        &:hover {
            background-color: #CC4C4C;
            transition: 0.2s ease-in-out;
        }
    }
}

.shop-detail-wrapper {
    padding: 50px 0;

    .shop-detail-img-container {
        width: 70%;
        background-color: #fff;
        padding: 150px;
        border-radius: 50%;

        .detail-img {
            width: 420px;
        }
    }

    .shop-details-container {
        width: 140%;
        justify-content: space-between;

        .shop-detail-title {
            font-size: 55px;
        }

        .shop-detail-text {
            margin-left: 50px;
            font-size: 25px;
            max-width: 520px;
            line-height: 40px;
        }
    }

    .shop-detail-price-container {
        justify-content: space-between;
        
        .shop-detail-price {
            font-size: 50px;
        }

        .shop-detail-input {
            height: 34px;
            width: 50px;
            border-radius: 5px;
            border: 1px solid $lightBlue;
            background-color: #eee;
            padding: 0;
            text-align: center;
            align-self: center;
            font-size: 1.2em;
            margin-right: 250px;
        }
        .shop-item-btn {
            font-size: 20px;
            color: #000;
            background-color: #CCC;
            border-radius: 5px;
            &:hover {
                background-color: $lightBlue;
                transition: 0.2s ease-in-out;
            }
        }
    }
}